{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Game Importer Settings</h1>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <h2>
        Game Providers
      </h2>
      <div class="aui-group">
        <div class="aui-item">
          <h3>
            Steam
          </h3>
          <form id="steam-update-form">
            <label for="steam-id">
              Account ID:
            </label>
            <input type="text" id="steam-id-field" name="steam-id"/>
            <input id="steam-update-button" class="aui-button aui-button-primary" type="submit" value="Update" />
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="/js/board-settings.js"></script>