{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Game Providers</h1>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p>
            The project id is {{projectId}}.
          </p>
          <p>
            <a class="aui-button aui-button-primary" target="_parent">
              This is a button.
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>1